* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #090b1a;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.wrapper {
  max-width: 80%;
  margin: 10% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1b1938;
  border-radius: 10px;
}
.wrapper .text {
  padding: 10% 13%;
  text-align: start;
}
.wrapper .text h1 {
  font-size: 28.8px;
  font-family: Inter, sans-serif;
}
.wrapper .text h1 span {
  color: #aa5cdb;
}
.wrapper .text p {
  font-family: "Lexend Deca", sans-serif;
  opacity: 75%;
  font-size: 13px;
}
.wrapper .text ul {
  list-style: none;
  display: inline-block;
  padding: 0;
}
.wrapper .text ul.statistics {
  margin-right: 50px;
}
.wrapper .text ul.statistics .stats {
  font-size: 1.4rem;
  font-weight: 700;
}
.wrapper .text ul.statistics li.name {
  opacity: 60%;
}

.wrapper .image {
  background-image: url(../stats-preveiw-project/images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-color: #aa5cdb;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-size: cover;
  background-blend-mode: multiply;
}

.attr {
  width: 100%;
  text-align: center;
}
.attr .attrb {
  font-size: 11px;
  font-family: "Lexend Deca", sans-serif;
}
.attr .attrb a:nth-child(2){
  text-decoration: none;
  color: #7900ff;
}

@media (max-width: 659px) {
  .wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 90%;
    margin: 5% auto;
    grid-template-columns: 1fr;
    text-align: center;
  }
  img {
    background-image: url(images/image-header-desktop.jpg);
    max-width: 100%;
  }
  .img {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .text {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  ul {
    display: inline;
  }
  .statistics {
    margin-bottom: 30px;
  }
}
